CompileFlags:
  CompilationDatabase: build
  Remove:
    - --target=*
    - -mlongcalls
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -fdiagnostics-color=*
    - -fmacro-prefix-map=*
    - -gdwarf-*
    - "@*"

Index:
  Background: Build
